<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @doubt.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @doubt.description %>
</p>

<p>
  <strong>Is resolved:</strong>
  <%= @doubt.is_resolved %>
</p>

<p>
  <strong>Escalate count:</strong>
  <%= @doubt.escalate_count %>
</p>

<%= link_to 'Edit', edit_doubt_path(@doubt) %> |
<%= link_to 'Back', doubts_path %>
